@charset "utf-8";
/* CSS Document */

body{
	font-size: 25px;
}

img{
	width: 30%;
	height: 30%;
	float: left;
	margin: 1.66%;
}
p {
	width: 30%;
	margin-left: 1.66%;
	font-family: Major Mono Display;
	font-size: 1.25em;
/*	padding: 15px 0;*/
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0,0,0,.3)
}
